@import './utilidades/tipografia.css';
@import './utilidades/cores.css';

@import './global/header.css';
@import './global/footer.css';
@import './global/global.css';

/* Utilidades*/
@import './utilidades/componentes.css';

/* Home */
@import './home/introducao.css';
@import './home/depoimento.css';
@import './home/tecnologia.css';
@import './home/parceiros.css';

/* Bicicletas */
@import './bicicleta/bicicletas-lista.css';
@import './bicicleta/bicicletas.css';

/* Bicicleta */
@import './bicicleta/bicicleta.css';

/* Seguros */
@import './seguros/seguros.css';
@import './seguros/vantagens.css';
@import './seguros/perguntas.css';

/* Termos */
@import './termos/termos.css';
